<script type="text/javascript">
    $(document).ready(function() {

    })

</script>
         <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="/static/js/bootstrap.min.js"></script>
</body>

  <ul class="nav">
          <li class="nav-divider"></li>
      </ul>
    <div class="container">
      <p class="navbar-text pull-right">
         </p>
    </div>

  <div class="navbar navbar-default navbar-fixed-bottom">

    <div class="container">
      <p class="navbar-text pull-left"> Web Tabanlı Öğretim Materyali © 2015 Django, Python, HTML5, CSS  | <a href="http://www.ogrenburada.com/" target="_blank">Geliştirici Ömer Yazır</a>

      </p>

      <a href="#" class="navbar-btn btn-primary btn pull-right">
      <span class="glyphicon glyphicon-star"></span>Ömer Yazır</a>
    </div>


  </div>

</html>