{% include 'header.html' %}

<!-- Wrap all page content here -->
<div id="wrap">
<!-- Begin page content -->


<section class="bg-1" id="wtop">
  <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-bottom:100px;">

      <div class="row">
  	<div class="col-sm-10 col-sm-offset-1">
      <div class="row text-center pad-bottom">
                <div class="col-md-12 ">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
                    <h1>WTOP 2015</h1>

                    <h2>Fırat Üniversitesi Yazılım Mühendisliği </h2>
                    <p class="p-cls">
                        Developer : Ömer YAZIR
                    </p>

                </div>
            </div>
      <div class="divider"></div>

  	</div><!--/col-->
</div><!--/container-->

  </div>
</section>

<div class="divider" id="wtopnedir"></div>

<div class="container">


        <div class="col-md-12 text-center" style="margin-bottom:100px;">
                    <h1 class="head-set">Web Tabanlı Öğretim Platformu Nedir ?</h1>
                    <p>
                        <h3>Öğrenci veya Öğretmenlerin Bilgi Alış-Veriş Platformu; Eğitim, Videolar, Belge Paylaşımı ve Kişiye Özel Kütüphane içeren sanal bilgi platformudur.</h3>
                    </p>








  </div>
</div>


<section class="bg-3" id="nasil">
  <div class="col-sm-10 col-sm-offset-1 text-center">
       <div class="row text-center">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
                <div class="col-sm-10 col-sm-offset-2">
                <div class="col-md-3 col-sm-4 col-xs-1">
                    <i class="fa fa-recycle  fa-5x"></i>
                    <h4 class="head-set">Belge - Klasör Alış Verişi</h4>
                    <p>
                        Üyeler arasında belge paylaşımı yapılır.
                    </p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <i class="fa fa-desktop  fa-5x"></i>
                    <h4 class="head-set">Video Ders - Materyal Paylaşımı </h4>
                    <p>
                        Platform içerisinde video dersler ve Materyal paylaşımı yapılır.
                    </p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <i class="fa fa-bolt  fa-5x"></i>
                    <h4 class="head-set">Kişiye Özel Kütüphane</h4>
                    <p>
                        Web Tabanlı Öğretim platformunda üyelerin kendisine özel kütüphane ve profil
                        sayfaları mevcuttur.
                    </p>
                </div>
            </div>
                 </div>

  </div>
</section>





<div class="divider" id="iletisim"></div>


      <div class="container">
            <div class="row text-center ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">Adresimiz</h2>
                    <p>
                        Fırat Üniversitesi Yazılım  Mühendisliği
                    </p>
                    <br />
                </div>
            </div>
            <div class="row text-center">


                <div class="col-md-12">
                    <h3>Merkez , 23000</h3>
                    <h3>Elazığ</h3>
                    <h3><strong>Email :</strong> info@firatedu.tr</h3>

                </div>

            </div>

</div>



</div><!--/wrap-->


<ul class="nav pull-right scroll-top">
  <li><a title="Scroll to top" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>


<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">×</button>
		<h3 class="modal-title"></h3>
	</div>
	<div class="modal-body">
		<div class="carousel" id="modalCarousel">

          <div class="carousel-inner">

          </div>

          <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div>
	</div>

   </div>
  </div>
</div>




{% include 'footer.html' %}