 <br>
 <br>
        <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">



        <div class="col-xs-6 col-sm-3 sidebar-offcanvas span2 sidebar" id="sidebar">
          <div class="list-group">
            <a href="/" class="list-group-item active">Ana Sayfa</a>
            <a href="/kullanici/kullanici_profil" class="list-group-item">Profil</a>
            <a href="/kullanici/list" class="list-group-item">Dosyalarım</a>
            <a href="/kullanici/kullanici_bilgileri_guncelle" class="list-group-item">Bilgilerimi Düzenle</a>
            <a href="/accounts/logout" class="list-group-item">Çıkış</a>
          </div>

        </div><!--/.sidebar-offcanvas-->
