{% include 'header.html' %}

{% include 'sidebar.html' %}
<div class="panel panel-default col-md-9">
        <div class="panel-heading"><strong>Döküman Yükleme</strong> <small>Belgelerinizi bu bölümde depolayabilirsiniz.</small></div>
        <div class="panel-body">
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
        </div></div>
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}



    <div class="row">
        <div class="col-lg-offset-3 col-md-9">
            <div class="box">
                <div class="box-icon">
                    <img src="{{ document.docfile.url }}" alt="" class="img-circle img-responsive">
                </div>
                <div class="info">
                    <h4 class="text-center"></h4>
                    <p> Belge :{{ document.docfile.name }}</p>
                    <a href="{{ document.docfile.url }}" class="btn">İndir</a>
                </div>
            </div>
        </div>

    </div>

                {% endfor %}
			</ul>
		{% else %}


			<p>Döküman Bulunamadı</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->



{% include 'footer.html' %}